 
<% provide(:title, 'About') %>
<h1>About</h1>

<p>The objective of this project is to design model associations and build a basic web app with feautures from <a href="https://www.eventbrite.com" target="_blank">Everbrite</a>.</p>

<p>A user can create events. </p>
<p>A user can attend many events.</p>
<p> An event can be attended by many users.</p>

Code for this project can be found at <a href="https://github.com/ampaire/private_events"></a>.