<% provide(:title, 'Home') %>
<section class="first-section">
  <h1 class="centered-text">Welcome to the Eventbrite Clone</h1>
  <div class="welcome-container">
    
      <div class="jumbotron">
        <h1>Plan an Event</h1>
        <p class="lead">Keep track of events with your friends.  This is a simple app to organize your event planning.
           </p>
        <a class="btn btn-lg btn-success" href="/events/new" role="button">Create an event</a>
      </div>
      <h3>Not a participant yet? <%= link_to "Join us", signup_path %> now!</h3>
  </div>
</section>