<footer class="footer">
  <small>
  	An Event Planner Webapp by <a href="https://github.com/ampaire">Phemia Ampaire</a> 
    and <a href="https://github.com/rOlouchKe">Raymond Olouch</a>
  </small>
</footer>